<!DOCTYPE html>
<html>
<head>
  <title>OnionjsExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
